If else statement

In [ ]:
a = 10

In [ ]:
if a < 15

In [ ]:
a < 15

True

In [ ]:
10 < 15

True

In [ ]:
if a < 15:
  print("a is True")

a is True

In [ ]:
if a < 15:
  pass

In [ ]:
if 24 < 15:
  print("True")
else:
  print("False")

False

if elif else

In [ ]:
income = int(input())

if income< 90:
  print("I can buy a car")
elif income< 50:
  print("I can buy a bike")
elif income < 20:
  print("I can buy a cycle")
else:
  print("I cannot able to buy")

70
I can buy a car

In [ ]:
total = int(input())

if total < 2000:
  discount = total*80/100
  print(f"the discount of clothes: {discount}")
elif  total <= 10000:
  discount = total*70/100
  print(f"the discount of bike: {discount}")
else:
  print("dont have to buy")

10000
the discount of bike: 7000.0

In [ ]:
"sanju" == "sanju"

True

In [ ]:
coup = input()

if coup:"SANJU05":
   print("the 5% of ineuron reduced")
   discount = 5000-5000*80/100
   print(f"the total amount of ineuron is: {}")

SyntaxError: ignored

In [ ]:
coup = input()

if coup=="SANJU05":
   print("the 8% of ineuron reduced")
   discount = 5000-5000*80/100
   print(f"the total amount of ineuron is: {discount}")
else:
   print("invalid")

VINU07
invalid

In [ ]:
course = float(input())

if course < 4:
  print("I can finish with 7 months ")
elif course >= 4 and course < 8:
  print("I can finish within 4 mobnths")
elif course <1:
  print("I will finish within 9 months")
else:
  print("It will dificult")

0.1
I can finish with 7 months

In [65]:
a = input("enter the institute")
course = input("enter the course")
service = input("enter the service")

if a == "oneneuron":
   if course == "DataScience":
      print("Data Science is available")
   elif course == "DSA":
      print("DSA is available")
   elif course == "Blockchain":
      print("Blockchain is available")
   else:
      print("No corse is availbale as you except")
elif a == "TCS":
   if service == "tcsion":
     print("tcsion is under request")
   elif service == "ytu":
     print("DSAcian is not available")
   else:
     print("the service under request")
else:
  print("BOth course and service are not available")

enter the instituteTCS
enter the courseBlockchain
enter the servicetcsion
tcsion is under request

# for loop

In [66]:
l = [1,2,3,4,5,6]

In [67]:
for i in l :
  print(i)

1
2
3
4
5
6

In [69]:
l= [33,44,556,67,88]
for a in l:
  print(a)

33
44
556
67
88

In [72]:

for i in "sanju":
  print(i)

s
a
n
j
u

In [73]:
a = "sanjooo"  #string
for i in a:
  print(i)

s
a
n
j
o
o
o

In [74]:
t = (3,4,5,6,7,89)  # tuple
for i in t:
  print(i)

3
4
5
6
7
89

In [75]:
s = {4,5,6,7,89,5,6}  # sets
for i in s:
  print(i)

4
5
6
7
89

In [81]:
a = ["sanju", True, 90, 90.55, 'sanjoo',0]
for i in a:
  print(type(i), "type of" ,i)

<class 'str'> type of sanju
<class 'bool'> type of True
<class 'int'> type of 90
<class 'float'> type of 90.55
<class 'str'> type of sanjoo
<class 'int'> type of 0

In [82]:
a

['sanju', True, 90, 90.55, 'sanjoo', 0]

In [86]:
a = [34,5,6,4,3,4,3,4]
for i in a:
  print(i+90)

124
95
96
94
93
94
93
94

In [88]:
l = [3,4,5,6,4,4,5]   # to for list in horizontal
l1 = []
for i in l:
  print(i+1)
  l1.append(i+1)

4
5
6
7
5
5
6

In [89]:
l1

[4, 5, 6, 7, 5, 5, 6]

In [98]:
l = [23,4,5,5,6,77,56,"sanju", 4+5j,[23,45,65]]   # filter only int
for i in l:
  if type(i) == int:
    print(i)
l1 = []
l1.append(i)

23
4
5
5
6
77
56

In [99]:
l1

[[23, 45, 65]]

In [103]:
l = [23,4,5,5,6,77,56,"sanju", 4+5j,[23,45,65]]
for i in l:
  if type(i) == int:
    print(i)
  elif type(i) == list:
    for j in i:
      print(j)

23
4
5
5
6
77
56
23
45
65

In [122]:
from ast import Index
a = [77,5,6,4,6,435,"string",[34,56,757,67,5]]
len(a)
for i in range(len(a)):
  print("index",i, "for values", l[i])

index 0 for values 23
index 1 for values 4
index 2 for values 5
index 3 for values 5
index 4 for values 6
index 5 for values 77
index 6 for values 56
index 7 for values sanju

In [117]:
range(5)

range(0, 5)

In [118]:
range(55)

range(0, 55)

# indexes in for loop

In [126]:
a = [34,56,7,56,90,"sanju",True, [7,67,78,56]]
len(a)
for i in range(len(a)):
   print("index",i, "for values" ,l[i])

index 0 for values 23
index 1 for values 4
index 2 for values 5
index 3 for values 5
index 4 for values 6
index 5 for values 77
index 6 for values 56
index 7 for values sanju

In [128]:
for i,j in enumerate(a):   # enumerate is built in for index in for loop
 print(i,j)

0 34
1 56
2 7
3 56
4 90
5 sanju
6 True
7 [7, 67, 78, 56]

In [129]:
a

[34, 56, 7, 56, 90, 'sanju', True, [7, 67, 78, 56]]

In [130]:
a[5]

'sanju'

In [131]:
type(a[5])

str

In [132]:
a

[34, 56, 7, 56, 90, 'sanju', True, [7, 67, 78, 56]]

In [134]:
for i in a:
  if type(i) == str:
    print("its a string")

its a string

In [135]:
a

[34, 56, 7, 56, 90, 'sanju', True, [7, 67, 78, 56]]

In [137]:
for i in a:   # list of characters in an string
  if type(i) == str:
    l1 = []
    for j in i:
      l1.append(j)
      print(j)

s
a
n
j
u

In [142]:
a = [45,6,5,3,5,3,5,5,"sanjuu",[67,4,5,5,45]]   # index # string character  #len #seperate int
# len
len(a)
# index
for i in range(len(a)):
  print("index",i,"for elements",l[i])

index 0 for elements 23
index 1 for elements 4
index 2 for elements 5
index 3 for elements 5
index 4 for elements 6
index 5 for elements 77
index 6 for elements 56
index 7 for elements sanju
index 8 for elements (4+5j)
index 9 for elements [23, 45, 65]

In [210]:
for i in a:   # list of characters in an string
  if type(i) == str:
    for j in i:
      l1 = []
      l1.append(j)
      print(l1)

['s']
['a']
['n']
['j']
['u']
['u']

In [153]:
a

[45, 6, 5, 3, 5, 3, 5, 5, 'sanjuu', [67, 4, 5, 5, 45]]

In [157]:
l1 = []
for i in a:
  if type(i) == int:
    l1.append(i+5)

In [155]:
l1

[2025, 36, 25, 9, 25, 9, 25, 25]

# for loop practice

In [182]:
a = [4,45,45,3,2,3,5,7,4,3,"sanjuu",True,(45,56,4535,4749,56),[56,767,759,53,658]]  # type of datatypes
for i in a:
  print(type(i), "set of elements",i)

<class 'int'> set of elements 4
<class 'int'> set of elements 45
<class 'int'> set of elements 45
<class 'int'> set of elements 3
<class 'int'> set of elements 2
<class 'int'> set of elements 3
<class 'int'> set of elements 5
<class 'int'> set of elements 7
<class 'int'> set of elements 4
<class 'int'> set of elements 3
<class 'str'> set of elements sanjuu
<class 'bool'> set of elements True
<class 'tuple'> set of elements (45, 56, 4535, 4749, 56)
<class 'list'> set of elements [56, 767, 759, 53, 658]

In [183]:
for i in range(len(a)):    # index of a
  print("index",i, "set of elements",a[i])

index 0 set of elements 4
index 1 set of elements 45
index 2 set of elements 45
index 3 set of elements 3
index 4 set of elements 2
index 5 set of elements 3
index 6 set of elements 5
index 7 set of elements 7
index 8 set of elements 4
index 9 set of elements 3
index 10 set of elements sanjuu
index 11 set of elements True
index 12 set of elements (45, 56, 4535, 4749, 56)
index 13 set of elements [56, 767, 759, 53, 658]

In [186]:
for i,j in enumerate(a): # enumerate of a
  print(i,j)

0 4
1 45
2 45
3 3
4 2
5 3
6 5
7 7
8 4
9 3
10 sanjuu
11 True
12 (45, 56, 4535, 4749, 56)
13 [56, 767, 759, 53, 658]

In [192]:
for i in a:   # as string as an seperate character
  if type(i) == str:
    print(i)
    for j in i:
      l1 = []
      l1.append(j)
      print(l1)

sanjuu
['s']
['a']
['n']
['j']
['u']
['u']

In [193]:
a

[4,
 45,
 45,
 3,
 2,
 3,
 5,
 7,
 4,
 3,
 'sanjuu',
 True,
 (45, 56, 4535, 4749, 56),
 [56, 767, 759, 53, 658]]

In [209]:
# as int as a seperate
for i in a:
  if type(i) == int:
    print(i)
    l1 = []
  elif type(i) == tuple:
    for j in i:
        print(j)
    l2 = []
  elif type(i)  == list:
    for z in i:
        print(z)

4
45
45
3
2
3
5
7
4
3
45
56
4535
4749
56
56
767
759
53
658

In [214]:
# square number

l1 = []
for i in a:
  if type(i) == int:
    l1.append(i**2)

In [215]:
l1

[16, 2025, 2025, 9, 4, 9, 25, 49, 16, 9]

In [216]:
a = ["sanjuu",45,56,56,566,53,544,554,44,33,{45,564,5437,658},[657,794,546,436,5685,43,54,34]]
len(a)

12

In [219]:
# type(a)
for i in a:
  print(type(a),i)

<class 'list'> sanjuu
<class 'list'> 45
<class 'list'> 56
<class 'list'> 56
<class 'list'> 566
<class 'list'> 53
<class 'list'> 544
<class 'list'> 554
<class 'list'> 44
<class 'list'> 33
<class 'list'> {658, 5437, 564, 45}
<class 'list'> [657, 794, 546, 436, 5685, 43, 54, 34]

In [220]:
# index
for i in range(len(a)):
  print("index",i,"set of elements",a[i])

index 0 set of elements sanjuu
index 1 set of elements 45
index 2 set of elements 56
index 3 set of elements 56
index 4 set of elements 566
index 5 set of elements 53
index 6 set of elements 544
index 7 set of elements 554
index 8 set of elements 44
index 9 set of elements 33
index 10 set of elements {658, 5437, 564, 45}
index 11 set of elements [657, 794, 546, 436, 5685, 43, 54, 34]

In [229]:
# sepatrate string
for i in a:
  if type(i) == str:
    print(i)
    for j in i:
      l1 = []
      l1.append(j)
      print(l1)

sanjuu
['s']
['a']
['n']
['j']
['u']
['u']

In [237]:
# seperate int
l1 = []
for i in a:
  if type(i) == int:
    l1.append(i**2)

In [238]:
l1

[2025, 3136, 3136, 320356, 2809, 295936, 306916, 1936, 1089]

In [239]:
a

['sanjuu',
 45,
 56,
 56,
 566,
 53,
 544,
 554,
 44,
 33,
 {45, 564, 658, 5437},
 [657, 794, 546, 436, 5685, 43, 54, 34]]

In [245]:
for i in a:
  if type(i) == int:
    print(i)
    l1 = []
  elif type(i) == set:
    for j in i:
      print(j)
  elif type(i) == list:
    for z in i:
       print(z)

45
56
56
566
53
544
554
44
33
658
5437
564
45
657
794
546
436
5685
43
54
34