In [ ]:
s = "this is python class and explains about the overview of programming technology"
len(s)

78

In [ ]:
for i in s:
  print(i)

t
h
i
s

i
s

p
y
t
h
o
n

c
l
a
s
s

a
n
d

e
x
p
l
a
i
n
s

a
b
o
u
t

t
h
e

o
v
e
r
v
i
e
w

o
f

p
r
o
g
r
a
m
m
i
n
g

t
e
c
h
n
o
l
o
g
y

In [ ]:
s

'this is python class and explains about the overview of programming technology'

In [ ]:
count = 0      # this is mainly counting of whole length without using built in function
for i in s:
  count = count+1
print(count)

78

In [ ]:
l = "sanjay is very good in experimental way of approach"
len(l)

51

In [ ]:
# without using len()
count = 0
for i in l:
  count = count + 1
print(count)

51

In [ ]:
l = "this is!!!"

count = 0
for i in l:
  count+= 1
print(count)

10

In [ ]:
# reverse the string without using slicing
l = "Hello!!! this is the anouncement"
l[::-1]

'tnemecnuona eht si siht !!!olleH'

In [ ]:
import pathlib
for i in range(len(l)-1,-1,-1):
  print(l[i])

t
n
e
m
e
c
n
u
o
n
a

e
h
t

s
i

s
i
h
t

!
!
!
o
l
l
e
H

In [ ]:
# reverse of an string without using slicing
l = "Hello!!!! maang"
for i in range(len(l)-1,-1,-1):
  print(l[i])

g
n
a
a
m

!
!
!
!
o
l
l
e
H

In [ ]:
# By using while loop reverse the string or tuple or list
l = "Hello!1 this is sunny"

i= len(l)-1
while i>=0 :
  print(s[i],end="")
  i = i -1

 ssalc nohtyp si siht

In [ ]:
l = [45,6,4,5,4,5,3,5,3,53,5,5,5,4,5,35,3,5,435,35]   # reverse by using while loop in an list

i = len(l)-1
while i>=0:
  print(l[i], end=",")
  i = i-1

35,435,5,3,35,5,4,5,5,5,53,3,5,3,5,4,5,4,6,45,

In [ ]:
l = [45,6,4,5,4,5,3,5,3,53,5,5,5,4,5,35,3,5,435,35]

i = len[l]-1

In [ ]:
t = (45,5,3,5,3,5,3,5,4,4,3,3,43,45,3,4,3,43,4,3,4,3,4,3,45,3,4,3,43,4,43,4,3,4)

i =len(t) -1
while i>=0:
  print(t[i], end=",")
  i = i-1

4,3,4,43,4,43,3,4,3,45,3,4,3,4,3,4,43,3,4,3,45,43,3,3,4,4,5,3,5,3,5,3,5,45,

In [ ]:
s = {45,5,3,4,34,3,4,3,43,3,4,34,3,43,3,4,3,4,3,4,3,43,4,3,4,3,4,3,4,4}

i = len(s)-1
while i>=0:
  print(s[i], end=",")
  i = i - 1

TypeError: ignored

In [ ]:
######
s = "Sanjaygowda"
v = "AaEeIiOoUu"

for i in s:
  if i in v:
    print("its an vowel",i)
  else:
    print("its not an vowel",i)

its not an vowel S
its an vowel a
its not an vowel n
its not an vowel j
its an vowel a
its not an vowel y
its not an vowel g
its an vowel o
its not an vowel w
its not an vowel d
its an vowel a

In [ ]:
##### Vowel or not

a = "Anandgowda K"
v = "AaEeIiOoUu"

for i in a:
  if i in v:
    print("its an vowel",i)
  else:
    print("its not an vowel",i)

its an vowel A
its not an vowel n
its an vowel a
its not an vowel n
its not an vowel d
its not an vowel g
its an vowel o
its not an vowel w
its not an vowel d
its an vowel a
its not an vowel
its not an vowel K

In [ ]:
"s" in "sanjay"

True

In [ ]:
"a" in "sanjay"

True

In [ ]:
a in "Anandgowda K"

True

In [ ]:
"n" in "Anandgowda K"

True

In [ ]:
# string is Palindrome or not
s = input("enter a value")
v = s[::-1]
if v == s:
  print("its a palindrome",s)
else:
    print("Its not a palindrome",s)

enter a valuetrjskj
Its not a palindrome

In [ ]:
s = input()
v = s[::-1]

if s == v:
  print("its an PALINDROME: ",v)
else:
  print(" its not an PALINDROME: ",v)

madam
its an PALINDROME:  madam

In [ ]:
a = "madam"
b = "voot"
 
if a == a[::-1]:
  print("Its an Palindrome",a)
else:
  print("Its not an Palindrome",a)

Its an Palindrome madam

In [ ]:
a = input()
b = a[::-1]

if a == b:
  print("Its an palindrome",a)
else:
  print("Its not an palindrome",a)

madam
Its an palindrome madam

In [ ]:
# By using for loop
a = "madam"
 
for i in range(len(a)):
  if a[i] != a[len(a)-i-1]:  
    print("Its not a palindrome",a)
    break
  else:
    print("Its  a palindrome",a)

Its  a palindrome madam
Its  a palindrome madam
Its  a palindrome madam
Its  a palindrome madam
Its  a palindrome madam

In [ ]:
a = "tte"

for i in range(len(a)):
 if a[i] != a[len(a)-i-1]:
    print("its not an palindrome",a)
    break
 else:
    print("its a palindrome",a)

its not an palindrome tte

In [ ]:
# while loop
s = input()
i = len(s)-1
while i>=0:
  l1 =[]
  l1.append(s[i])
  i = i-1
if s==l1:
  print("palindrome")
else:
  print("not apalind")

eye
not apalind

In [ ]:
a = input()    # simplest of reverse
b = a[::-1]

if a == b:
  print("Its a palindrome",a)
else:
  print("Its not a palindrome",a)

madam
Its a palindrome madam

In [ ]:
a = "madam"  # for loop

for i in range(len(a)):
 if a[i] != a[len(a)-i-1]:
    break
    print("its not a palindrome",a)
else:
    print("its a palindrome",a)

its a palindrome madam

In [ ]:
a = input()
b = a[::-1]

if a == b:
  print("Its palindrome",a)
else:
  print("Its not palindrome",a)

madam
Its palindrome madam

In [ ]:
s = "Hello !! this is sanjay"
len(s)

23

In [ ]:
for i in range(len(s)-1,-1,-1):
  print(s[i])

y
a
j
n
a
s

s
i

s
i
h
t

!
!

o
l
l
e
H

In [ ]:
s

'Hello !! this is sanjay'

In [ ]:
count = 0
for i in s:
  count = count + 1
  print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [ ]:
s

'Hello !! this is sanjay'

In [ ]:
# while loop
i = len(s)-1
while i>=0:
  print(s[i], end ="")
  i = i-1

yajnas si siht !! olleH

In [ ]:
t = (78,4,5,3,45,3,5,353,45,4,5,4,54,5,45,5,4,5,4)

i = len(t)-1
while i>=0:
  print(t[i], end=",")
  i = i-1

4,5,4,5,45,5,54,4,5,4,45,353,5,3,45,3,5,4,78,

In [ ]:
l = [3,4,4,5,3,54,3,5,3,45,3,5,3,5,3,5,3,5,3,5,3,45,3,5]
# while loop we need to reverse

i = len(l)-1
while i>=0:
  print(l[i], end=",")
  i = i - 1

5,3,45,3,5,3,5,3,5,3,5,3,5,3,45,3,5,3,54,3,5,4,4,3,

In [ ]:
# palindrome or not
a = input()
b = a[::-1]
if a == b:
  print("its palindrome", a)
else:
  print("its not palindrome",a)

madam
its palindrome madam

In [ ]:
# vowel or not
a = "Sanjay Gowda A"
v = "AaEeIiOoUu"
for i in a:
  if i in v:
    print("Its an vowel",i)
  else:
    print("Its not an vowel",i)

Its not an vowel S
Its an vowel a
Its not an vowel n
Its not an vowel j
Its an vowel a
Its not an vowel y
Its not an vowel
Its not an vowel G
Its an vowel o
Its not an vowel w
Its not an vowel d
Its an vowel a
Its not an vowel
Its an vowel A

In [ ]:
l = [33,4,3,54,3,43,4,3,4,3,4,3,4,3,4,32,4,4]
i = len(l)-1
while i>=0:
  print(l[i],end = ",")
  i =i -1

4,4,32,4,3,4,3,4,3,4,3,4,43,3,54,3,4,33,

In [ ]:
a = "madam"

for i in range(len(a)):
 if a[i] != a[len(a)-i-1]:
    break
    print("its not a palindrome",a)
else:
    print("its a palindrome",a)

its a palindrome madam

In [ ]:
a = "madam"

for i in range(len(a)):
 if a[i] != a[len(a)-i-1]:
    break
    print("its not a palindrome",a)
else:
    print("its a palindrome",a)

its a palindrome madam

In [ ]:
l = (4,4,4,4,3,4,34,3,4,3,4,3,4,3,45)
i = len(l)-1
while i>=0:
  print(l[i], end=",")
  i = i-1

45,3,4,3,4,3,4,3,34,4,3,4,4,4,4,

In [4]:
# dictionary
d = {"India" : "IN",
      "China" :  "CH",
      "America" : "AM",
      "canada" : "CN"
      }

In [ ]:
d.keys()

dict_keys(['India', 'China', 'America', 'canada'])

In [ ]:
d.values()

dict_values(['IN', 'CH', 'AM', 'CN'])

In [ ]:
"India" in d

True

In [ ]:
"chaina" in d

False

In [ ]:
d

{'India': 'IN', 'China': 'CH', 'America': 'AM', 'canada': 'CN'}

In [ ]:
for i in d:
  print(i)

India
China
America
canada

In [ ]:
for i in d:
  print(d[i])

IN
CH
AM
CN

In [ ]:
# filter out on basis of length by 5 and more on keys
for i in d:
  print(i)

India
China
America
canada

In [ ]:
# filter with largest length and smallest length of an dictionary::
for i in d:
  print(i)

India
China
America
canada

In [ ]:
largest = []
smallest = []

for i in d:
  if len(i) <= 5:
    smallest.append(i)
  else:
    largest.append(i)

In [ ]:
largest
smallest

['India', 'China']

In [ ]:
largest

['America', 'canada']

In [5]:
d

{'India': 'IN', 'China': 'CH', 'America': 'AM', 'canada': 'CN'}

In [6]:
d.keys()

dict_keys(['India', 'China', 'America', 'canada'])

In [11]:
l = { "INDIA" : "IN",
     "CANADA" : "CN",
     "CHINA" : "CH",
     "VIETNAM" : "VN"
}

In [25]:
smallest = []
largest = []
for i in l:
  if len(i)<= 5:
    smallest.append(i)
  else:
    largest.append(i)

In [26]:
smallest

['INDIA', 'CHINA']

In [14]:
largest

['CANADA', 'VIETNAM']

In [27]:
 # maximum value in dictionary --- values as the maximum range
a = {"ineuron": { "a" : 34,
                 "b" : 45,
                 "c"  : 100
                       },  
    "course" : {  "d" : 45,
                  "e" : 70,
                "f" : 150
        
    }
}

In [32]:
for i in a.keys():
  print(i)

ineuron
course

In [30]:
for i in a.values():   # values()
  print(i)

{'a': 34, 'b': 45, 'c': 100}
{'d': 45, 'e': 70, 'f': 150}

In [35]:
l = []
for i in a.values():
  for j in i.values():
    l.append(j)
  print(max(l))

100
150

In [36]:
# Dictionary for largest and smallest in keys and largest or maximum values
d = { "INDIA" : "IN",
      "CANADA" : "CN",
      "CHAINA" : "CH",
     "GERMANY" : "GM"
}

In [37]:
largest = []
smallest = []
for i in d:
  if len(i) <= 5:
    smallest.append(i)
  else:
    largest.append(i)

In [38]:
smallest

['INDIA']

In [39]:
largest

['CANADA', 'CHAINA', 'GERMANY']

In [48]:
# maximum values
l = {"neuron" : { "a" : 34,
               "b" :80,
               "c" :120    
               },
     "courses" : { "a" :56,
                  "b" :500,
                  "c" :800
     }
    
}

In [49]:
l1 = []
for i in l.values():
  for j in i.values():
    l1.append(j)
print(max(l))

neuron

In [67]:
 # maximum value in dictionary --- values as the maximum range
a = {"ineuron": { "a" : 34,
                 "b" : 45,
                 "c"  : 100
                       },  
    "course" : {  "d" : 45,
                  "e" : 70,
                "f" : 150
        
    }
}

In [62]:
l = []
for i in a.values():
  for j in i.values():
    l.append(j)
  print(max(l))

100
150

In [58]:
l = []
for i in a.values():
  for j in i.values():
    l.append(j)
  print(max(l))

100
150

In [65]:
for i in a.keys():
  print(max(a[i].values()))

100
150

In [66]:
a[i]

{'d': 45, 'e': 70, 'f': 150}

In [68]:
a

{'ineuron': {'a': 34, 'b': 45, 'c': 100},
 'course': {'d': 45, 'e': 70, 'f': 150}}

In [78]:
d = {"ineuron" : {34,56,4,5,34,5}, "course":{45,6,4,6,4,6,46}, "s":"sanjay","a" :70, "g":90}

l = []
for i in d.values():
  if type(i) == int:
    l.append(max(i.values()))
print(max(l))

AttributeError: ignored

In [79]:
d = {"ineuron" : {34,56,4,5,34,5}, "course":{45,6,4,6,4,6,46}, "s":"sanjay","a" :70, "g":90}    # maximum value 

l = []
for i in d.values():
  if type(i) == int:
    l.append(i)
  elif type(i) == list or type(i) == tuple:
    l.extend(i)
  elif type(i) == dict:
    for j in i.values():
      l.append(j)
print(max(l))

90